.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.wrapper a {
  display: inline-block;
  color: var(--main-color);
  font-size: 20pt;
  border: 1px solid var(--main-color);
  border-radius: 16px;
  padding: 10px;
  text-decoration: none;
}

.wrapper p {
  font-size: 80pt;
  font-weight: 700;
  color: var(--main-color);
}