.form{
    display: flex;
    flex-direction: column;
    max-height: 280px;
    min-width: 300px;
    border: none;
    border-radius: 8px;
    padding: 12px;
    background-color: var(--main-color);
    color: #fff;
}

.form > p{
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

.form input{
    width: 100%;
    min-height: 40px;
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    outline: none;
    margin: 10px 0 5px;
    color: var(--main-color);
}

.form input::placeholder{
    color: var(--main-color);
}

.error{
    color: #fff;
    margin-top: 4px;
}

.form button{
    align-self: center;
    height: 40px;
    width: 150px;
    border: 1px solid #fff;
    border-radius: 8px;
    margin-top: 14px;
    background-color: transparent;
    color: #fff;
    transition: background-color .2s linear;
}

.form button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}