.title{
    font-size: 26pt;
    font-weight: 700;
    color: var(--main-color);
    text-align: center;
}

.homeInfo{
    max-width: 480px;
    font-size: 16pt;
}

.homeInfo a{
    color: var(--main-color);
}

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 14pt;
}

.features p:not(:last-child) {
    color: var(--main-color);
    font-weight: 600;
}

.featuresTitle{
    margin-bottom: 16px;
    font-size: 20pt;
    font-weight: 600;
    color: var(--main-color);
    text-align: center;
}


.featuresList{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 480px;
}

/* .featuresList ul{
    padding-left: 20px;
    list-style-type: disc;
} */

.start{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 130px;
    height: 40px;
    margin: 15px auto 0;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    color: var(--main-color);
    text-decoration: none;
    transition: background-color .2s linear, color .2s linear;
}

.start:hover, .start:focus{
    background-color: var(--main-color);
    color: #fff;
}


@media screen and (max-width: 675px) {
    .homeInfo{
        text-align: center;
    }
}